<!-- templates/course/course.html -->
<script>
  function getId(url) {
      const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
      const match = url.match(regExp);
  
      return (match && match[2].length === 11)
        ? match[2]
        : null;
  }
  var base_font = 1.0;
  function resizeUP(){
      base_font+= 0.2;
      var allTranscripts = document.getElementsByClassName('trans_par');
      for (var i = 0; i < allTranscripts.length; i++) {
        allTranscripts[i].style.fontSize = base_font+"rem";
      }
    }
    function resizeDOWN(){
      base_font -= 0.2;
      var allTranscripts = document.getElementsByClassName('trans_par');
      for (var i = 0; i < allTranscripts.length; i++) {
        allTranscripts[i].style.fontSize = base_font+"rem";
      }
    }
  </script>
  

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h4> Welcome to course -- {{course}}</h4>
{% if user.is_authenticated %}

{% if user.is_student %}

<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert"></div>
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'course:course' c_pk%}">Videos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'course:quiz_list' c_pk %}">Quiz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'course:taken_quiz_list' c_pk %}">Grades</a>
    </li>
  </ul>
  
  <p id="demo"></p>

  <script>
    var videohtml="";
    var transcripthtml="";
    {% for videos in all_videos%}
    videohtml+='<hr><iframe width="560" height="315" src="//www.youtube.com/embed/' 
    + getId('{{ videos.url|safe }}') + '" frameborder="0" allowfullscreen></iframe><br>';
    
    //transcript generation part
    videohtml+='<details><summary>View Transcript</summary>\
    <button onclick="javascript:resizeUP()">+</button><button onclick="javascript:resizeDOWN()">-</button>\
    <p class="trans_par">{{ videos.transcript}}</p></details><hr>';
    
    
    {% endfor %}
    document.getElementById("demo").innerHTML = videohtml;
  </script>



{% elif user.is_instructor %}

<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert"></div>
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'course:course' c_pk%}">Videos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'course:quiz_change_list' c_pk %}">Quiz</a>
    </li>
  </ul>


  {{all_current_videos}}
  <hr> Add Videos<br>
  <form method="post">
      {%csrf_token%}
      {{video_form}}
      <input type="submit" class="btn btn-dark btn-lg" value="Post a video">
      <hr>

  </form>













{% else %}

{% endif %}

{% endif %}
{% endblock %}