{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}


<div class="container d-flex justify-content-center">
  <div class="account-form col-md-6 ">
      <div class="register-title">
          <i class="fa fa-lock"></i>
          <h4>Update your information</h4>
        </div>
      <form method="post" novalidate>
        {% csrf_token %} {{ form|crispy }}
        {{ formset.management_form }}
        {{ formset|crispy }}
          <button type="submit" class="button-default">Update</button>
      </form>
  </div>
</div>


{% endif %}

{% endblock %}